<div class="input-field">
    <div class="col s12" input-field>
        <label for="title" class="col s2">Title</label>
        <input type="text" ng-model="vm.todo.title" id="title" maxlength="60" length="60" required>
    </div>
</div>
<div class="input-field">
    <div class="col s12" input-field>
        <label for="description" class="col s2">Description</label>
        <textarea ng-model="vm.todo.description" class="materialize-textarea" id="description" maxlength="300" length="300" _placeholder="Enter description"></textarea>
    </div>
</div>

<div class="input-field">
    <a class="btn-floating" ui-sref="todo"><i class="fa fa-chevron-left fa-2x"></i></a>
    <button type="submit" class="btn" ng-disabled="form.$invalid || form.$pristine">Save<i class="fa fa-send right"></i></button>
</div>
